In [1]:
#Imports 

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys

In [2]:

# Navegando nas paginas para pegar a cotação atual das moedas (Navegação MILK)

navegador = webdriver.Chrome()
navegador.get("https://poocoin.app/tokens/0xbf37f781473f3b50e82c668352984865eac9853f")
cotacao_milk = WebDriverWait(navegador, 10).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="root"]/div/div[1]/div[2]/div/div[2]/div[1]/div[1]/div/div[1]/div/span'))).text
navegador.quit()

print(cotacao_milk.replace("$", ''))

0.000913390

In [3]:
# Navegando nas paginas para pegar a cotação atual das moedas (Navegação THC)

navegador = webdriver.Chrome()
navegador.get("https://poocoin.app/tokens/0x24802247bd157d771b7effa205237d8e9269ba8a")
cotacao_thc = WebDriverWait(navegador, 10).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="root"]/div/div[1]/div[2]/div/div[2]/div[1]/div[1]/div/div[1]/div/span'))).text
navegador.quit()

print(cotacao_thc.replace("$", ''))

0.0658857

In [4]:
# Navegando nas paginas para pegar a cotação atual das moedas (Navegação THG)

navegador = webdriver.Chrome()
navegador.get("https://poocoin.app/tokens/0x9fd87aefe02441b123c3c32466cd9db4c578618f")
cotacao_thg = WebDriverWait(navegador, 10).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="root"]/div/div[1]/div[2]/div/div[2]/div[1]/div[1]/div/div[1]/div/span'))).text
navegador.quit()

print(cotacao_thg.replace("$", ''))

4.0520

In [5]:
# Navegando nas paginas para pegar a cotação atual das moedas (Navegação MAFA)

navegador = webdriver.Chrome()
navegador.get("https://poocoin.app/tokens/0xaf44400a99a9693bf3c2e89b02652babacc5cdb9")
cotacao_mafa = WebDriverWait(navegador, 10).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="root"]/div/div[1]/div[2]/div/div[2]/div[1]/div[1]/div/div[1]/div/span'))).text
navegador.quit()

print(cotacao_mafa.replace("$", ''))

0.0494721

In [6]:
# Navegando nas paginas para pegar a cotação atual das moedas (Navegação DRACO)

navegador = webdriver.Chrome()
navegador.get("https://www.mir4draco.com/price")
cotacao_draco = WebDriverWait(navegador, 30).until(
        EC.presence_of_element_located((By.XPATH, '//*[@id="app"]/div/div/main/div/section[2]/div[1]/div/div[1]/div/div[4]/div/div/dl/dd/span[1]'))).text
navegador.quit()

print(cotacao_draco.replace("$", ''))

0,7766

In [7]:
#Tratando as moedas para poder converter a FLOAT na tabela (tive dificuldade de mudar dois valores em um só for)

moedasdlr = [cotacao_milk, cotacao_thc, cotacao_thg, cotacao_mafa, cotacao_draco]
print(moedasdlr)
moedas = []
for num in moedasdlr: 
    moedasnew = num.replace(",",".")
    moedas.append(moedasnew)
print(moedas)

moedasok = []
for num in moedas: 
    moedasnew = num.replace("$","")
    moedasok.append(moedasnew)
print(moedasok)

['$0.000912650', '$0.0658857', '$4.0520', '$0.0494721', '$0,7766']
['$0.000912650', '$0.0658857', '$4.0520', '$0.0494721', '$0.7766']
['0.000912650', '0.0658857', '4.0520', '0.0494721', '0.7766']

In [8]:
#importando a tabela 
import pandas as pd

tabela = pd.read_excel("tabela.xlsx")

display(tabela)

,Jogo,Moeda,Data entrada,Data Saida,Tempo investindo,Qt_Moedas,cotacao compra,cotacao atual,Vl_investido,Vl_recebido
0,Mir4,DRACO,2021-11-01,2022-01-17,77,214.00,0.56,0.775400,119.8400,165.935600
1,Thetan arena,THG,2021-12-29,2022-01-17,19,1078.37,5.04,4.051100,5434.9848,4368.584707
2,Thetan arena,THC,2021-12-09,2022-01-17,39,8322.16,0.13,0.065837,1081.8808,547.907712
3,Mafagafu,MAFA,2021-11-26,2022-01-17,52,795.81,0.09,0.049517,71.6229,39.406442
4,Criptoyou,MILK,2021-11-01,2022-01-17,77,1369.97,0.01,0.000913,13.6997,1.250540

In [9]:
#atualizando a tabela com as cotações atuais

tabela.loc[tabela['Moeda'] == 'DRACO','cotacao atual'] = float(moedasok[4])
tabela.loc[tabela['Moeda'] == 'THG','cotacao atual'] = float(moedasok[2])
tabela.loc[tabela['Moeda'] == 'THC','cotacao atual'] = float(moedasok[1])
tabela.loc[tabela['Moeda'] == 'MAFA','cotacao atual'] = float(moedasok[3])
tabela.loc[tabela['Moeda'] == 'MILK','cotacao atual'] = float(moedasok[0])

In [10]:
#atualizando os valores totais 

tabela["Vl_recebido"] = tabela["Qt_Moedas"] * tabela["cotacao atual"]


display(tabela)

,Jogo,Moeda,Data entrada,Data Saida,Tempo investindo,Qt_Moedas,cotacao compra,cotacao atual,Vl_investido,Vl_recebido
0,Mir4,DRACO,2021-11-01,2022-01-17,77,214.00,0.56,0.776600,119.8400,166.192400
1,Thetan arena,THG,2021-12-29,2022-01-17,19,1078.37,5.04,4.052000,5434.9848,4369.555240
2,Thetan arena,THC,2021-12-09,2022-01-17,39,8322.16,0.13,0.065886,1081.8808,548.311337
3,Mafagafu,MAFA,2021-11-26,2022-01-17,52,795.81,0.09,0.049472,71.6229,39.370392
4,Criptoyou,MILK,2021-11-01,2022-01-17,77,1369.97,0.01,0.000913,13.6997,1.250303

In [11]:
#salvando a tabela na pasta
tabela.to_excel("tabela.xlsx", index=False)